html, body {
  color: #F7FAE6;
  background-color: #4D173A;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.fa-bars {
  border:1px solid #F7FAE6;
  border-radius: 2px;
  padding: 5px 7px 5px 7px;
  margin: 15px 0px 0px 15px;
  color: #F7FAE6;
  z-index: 1;
  position: fixed;
}

#introText{
  margin-top: 60%;
  font-family: 'Oleo Script', cursive;
  font-size: 72px;
  color: #4D173A;
  text-align: center;
}

.downArrow {
  text-align: center;
  max-height: 70px;
  min-height: 60px;
}

#downarrow, #downarrowAbout, #downarrowWork  {
  cursor: pointer;
  max-height: 70px;
  min-height: 60px;
  min-width: 50px;
}

.downArrowAbout > img {
  text-align: center;
  margin-top: 10px;
  max-height: 100px;
  min-height: 60px;
}

#name {
  font-size: 144px;
}

a {
  text-decoration: none;
  color: #15486A;
}
a:visited {
  color: #15486A;
}
a:hover {
  text-decoration: none;
  color: #15486A;
}

.pagewrap {
  transition: margin-left 0.3s ease;
  width: 100%;
  left: 0;
  overflow-x: hidden;
}

.mainContainer {
  background: url("./gulls.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  border-bottom: 1px solid black;
  position: static;
  overflow-x: hidden;
}


@media screen and (max-height: 450px) {
  .sectionTitle {font-size: 18px;}
}

#navMenuContainer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F7FAE6;
  overflow-x: hidden;
  transition: 0.3s ease;
  color: #4D173A;
  padding: 0;
  text-align: center;
}

.sectionTitle:hover {
  color: #F7FAE6;
  background-color: #15486A;
}

.brand {
  font-family: 'Oleo Script', cursive;
  padding: 25px 8px 0px 8px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}

.sectionTitle {
  padding: 10px 8px 8px 15px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  width: 250px;
  border-bottom: solid 1px #4D173A;
  border-bottom-left-radius: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.sectionsContainer {
  padding-top: 50%;
}

.fa-times {
  position: absolute;
  color: #15486A;
  top: 0;
  right: 25px;
  margin-left: 50px;
  cursor: pointer;
}

.aboutContainer{
  color: #15486A;
  overflow-x: hidden;
  text-align: left;
  height: 100vh;
  border-bottom: solid 1px black;
  background: url("./sintra.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 70px;
}

.aboutContent {
  background-color: #F7FAE6;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  margin-top: 50px;
}
.aboutTitle {
  padding: 10px 10px;
  border-top: solid 1px #4D173A;
  border-left: solid 1px #4D173A;
  position: relative;
}

.aboutTitle:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #F7FAE6;
  position: absolute;
  right: 0;
  top: -1px;
}

.aboutText {
  padding-right:15px;
  padding-bottom: 5px;
}

.lastAbout {
  border-bottom: solid 1px #4D173A;
  border-right: solid 1px #4D173A;
  position: relative;
}

.lastAbout:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #F7FAE6;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.active {
  color: #F7FAE6;
  background-color: #15486A;
}

.workTitle {
  display: block;
  text-align: center;
  background-color: #F7FAE6;
  color: #4D173A;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

#workImg {
  text-align: center;
}

#workImg > a > img {
  border: 1px solid #4D173A;
  max-height: 300px;
  max-width: 500px;
}

#workHead{
  border-radius: 10px;
  color: #F7FAE6;
  margin-bottom: 20px;
}

.workNav {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5%;
}

.worklist > h5 {
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.worklist{
  border: 1px solid #F7FAE6;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 10px;
}

.workActive {
  display: block;
  background-color: #15486A;
  color: #F7FAE6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Workcontent {
  background-color: #15486A;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100vh;
  text-align: center;
  overflow-x: auto;
}

#workInfo {
  margin-top: 10px;
  background-color: #F7FAE6;
  color: #4D173A;
  border-radius: 10px;
  border: solid #4D173A 1px;
  padding: 20px 20px;
}

#contact{
  text-align: center;
  padding: 30px 0px;
}

.fa-facebook-official {
  padding-right: 20px;
  color: #F7FAE6;
}

.fa-linkedin-square {
  padding-right: 20px;
  color: #F7FAE6;
}

.fa-github {
  padding-right: 20px;
  color: #F7FAE6;
}

#email {
  color: #F7FAE6;
}
#email:visited {
  color: #F7FAE6;
}
#email:hover {
  text-decoration: none;
  color: #F7FAE6;
}
