html, body {
  color: #1e4fac;
  overflow-x: hidden;
}

.fa-bars {
  border:1px solid white;
  border-radius: 2px;
  padding: 5px 7px 5px 7px;
  margin: 15px 0px 0px 15px;
  color: white;
  z-index: 1;
  position: fixed;
}

#introText{
  margin: 150px 20px 0px 0px;
  font-family: 'Oleo Script', cursive;
  font-size: 72px;
  color: white;
  text-align: center;
}
.downArrow > img{
  text-align: center;
  margin-top: 40px;
  max-height: 100px;
}
#downarrow, #downarrowAbout, #downarrowWork  {
  cursor: pointer;
}
.downArrowAbout > img{
  text-align: center;
  margin-top: 40px;
  max-height: 100px;
}

#name {
  font-size: 144px;
}

a {
  text-decoration: none;
  color: #1e4fac;
}
a:visited {
  color: #1e4fac;
}
a:hover {
  text-decoration: none;
  color: #1e4fac;
}

.pagewrap {
  transition: margin-left 0.3s ease;
  width: 100%;
  left: 0;
  float: left;
  overflow-x: hidden;
}

.mainContainer {
  background: url("./gulls.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  border-bottom: 1px solid #1e4fac;
}


@media screen and (max-height: 450px) {
  .sectionTitle {font-size: 18px;}
}

#navMenuContainer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.3s ease;
  color: #1e4fac;
  padding: 0;
  text-align: center;
}

.sectionTitle:hover {
  color: white;
  background-color: #1e4fac;
}

.brand {
  font-family: 'Oleo Script', cursive;
  padding: 25px 8px 0px 8px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}

.sectionTitle {
  padding: 10px 8px 8px 15px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  width: 250px;
  border-bottom: solid 1px #1e4fac;
  border-bottom-left-radius: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.sectionsContainer {
  padding-top: 50%;
}

.fa-times {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  cursor: pointer;
}

.aboutContainer{
  color: #1e4fac;
  overflow-x: hidden;
  text-align: right;
  height: 100vh;
  border-bottom: solid 1px #1e4fac;
  background: url("./sintra.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 70px;
}
.aboutContent {
  background-color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  margin-top: 50px;
}
.aboutTitle {
  border-top: solid 1px #1e4fac;
  border-left: solid 1px #1e4fac;
  position: relative;
}

.aboutTitle:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: white;
  position: absolute;
  right: 0;
  top: -1px;
}

.aboutText {
  padding-right:15px;
  padding-bottom: 5px;
}

.lastAbout {
  border-bottom: solid 1px #1e4fac;
  border-right: solid 1px #1e4fac;
  position: relative;
}

.lastAbout:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.active {
  color: white;
  background-color: #1e4fac;
}

.workContainer {
  color: white;
  overflow-x: hidden;
  height: 100vh;
  border-bottom: solid 1px #1e4fac;
  background-color: #1e4fac;
}

.workNav {
  height: 10vh;
  color: #1e4fac;
  background-color: white;
}
.workMenuDock {
  background-color: #1e4fac;
  height: 10vh;
}
.worklist{
  margin-top: 3vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  padding-bottom: 0px;
  height: 100%;
}
h6 {
  font-size: 16px;
  text-align: center;
}

.workContent {
  background-color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  margin-top: 50px;
  color: #1e4fac;
}
#workTitle {
  border-top: solid 1px #1e4fac;
  border-left: solid 1px #1e4fac;
  position: relative;
}
#workTitle > h3 {
  margin-top: 60px;
  margin-left: 60px;
  text-align: center;
}

#workTitle:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: white;
  position: absolute;
  right: 0;
  top: -1px;
}

#workInfo:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -1px;
}

#workInfo {
  border-bottom: solid 1px #1e4fac;
  border-right: solid 1px #1e4fac;
  position: relative;
  margin-top: 50px;
}
#workImg {
  text-align: right;
  margin-top: 30px;
}

#workImg  img {
  max-height: 200px;
  min-height: 200px;
  max-width: 300px;
  border: 1px solid black;
}

#workImg > p {
  text-align: center;
  font-size: 12px;
}

#contact{
  text-align: center;
  padding: 30px 0px;
}

.fa-facebook-official {
  padding-right: 20px;
}
